.container-common {
  border-radius: 6px;
  border: 1px solid var(--colors-gray-200);
  padding: 6px;
}

.container-interactive:hover {
  background-color: var(--colors-gray-200);
}

@media (prefers-color-scheme: dark) {
  .container-interactive:hover {
    background-color: var(--colors-gray-800);
  }
  .container-common {
    border: 1px solid var(--colors-gray-700);
  }
}

/* .preview {
  background-color: var(--dsl-background);
  color: var(--dsl-primary);
  padding: 6px;
  font-size: var(--dsl-size-2xs);
} */

